/* Body, Header and Menu */

body {
	background-image:url(images/ajbg.gif);
	background-repeat:repeat-x;
	background-color:#9ea8f0;
	margin:0 auto;
	background-attachment: fixed;
}

h1 {
	font-size:16px;
}

h2 {
	font-size:14px;
}

p {
	font-size:12px;
}

.menuitem {
	float:left;
}

#holder {
	width:700px;
	margin:0 auto;
}

#tm-live {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-live.png) 0 0 no-repeat;
}

#tm-live:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-whois {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-whois.png) 0 0 no-repeat;
}

#tm-whois:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-ipwhois {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-ipwhois.png) 0 0 no-repeat;
}

#tm-ipwhois:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-httpheaders {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-httpheaders.png) 0 0 no-repeat;
}

#tm-httpheaders:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-rbl {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-rbl.png) 0 0 no-repeat;
}

#tm-rbl:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-ping {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-ping.png) 0 0 no-repeat;
}

#tm-ping:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}

#tm-traversal {
	margin-top:8px;
	width:100px;
	height:35px;
	background:url(images/tm-transversal.png) 0 0 no-repeat;
}

#tm-traversal:hover {
	margin-top:8px;
	width:100px;
	height:35px;
	background-position:-100px 0;
	cursor:hand;cursor:pointer;
}


#scroller {
	width:100%;
	background-image:url(images/ajbg.gif);
	text-align:center;
	position:fixed;
	margin:0 auto;
	top:0;
	left:0;
}

#header {
	width:790px;
	margin:0 auto;
}

#logo {
	display:inline;
}

#form {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

#URL {
	text-align: center;
	background:url(images/form.gif) 0 12px no-repeat;
	border:0;
	height:47px;
	width:352px;
	font-size:18px;
	margin:0 auto;
	padding:24px 0 0 0;
	line-height:47px;
	vertical-align:middle;
}

#toplinks {
	height: 10px;
	font-size:8px;
	position:relative;
	top:-10px;
}

#menu {
	background-image:url(images/menubg.gif);
	background-repeat:repeat-x;
	height:50px;
	width: 100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	}


.tl {
	background-image:url(images/tl.gif);
	width:5px;
	height:5px;
}

.top {
	background-image:url(images/top.jpg);
	width:5px;
	height:5px;
}

.tr {
	background-image:url(images/tr.gif);
	width:5px;
	height:5px;
}

.left {
	background-image:url(images/left.jpg);
	width:5px;
	height:100%;
}

.nav {
	background-color:#b4b9f0;
}

.right {
	background-image:url(images/right.jpg);
	width:5px;
	height:5px;
}

.br {
	background-image:url(images/br.gif);
	width:5px;
	height:5px;
	
}

.bottom {
	background-image:url(images/bottom.jpg);
	width:5px;
	height:5px;
}

.bl {
	background-image:url(images/bl.gif);
	width:5px;
	height:5px;
}



/* Results */

#dnsinformation {
	width: 790px;
	margin: 0 auto;
	padding:150px 0 20px 0;
}

#dnsinformation a {
	width: 790px;
	margin: 0 auto;
	color:#FFFFFF;
	text-decoration:none;
}

#title {
	padding-top:10px;
}

#floatinginfo {
	width:400px;
	margin:0 auto;
}

#details {
	position:fixed;
	top: 135px;
	margin-left:685px;
	padding: 0 5px 0 5px;
}

.results {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin: 0 auto;
	width: 780px;
}

/* Busy Display */

#busy {
	display: none;
 	width:135px;
	height:97px;
	position: fixed;
	margin-left:330px ;
	margin-top:150px;
}

#arrows {
	position: relative;
	top:25px;
	left:10px;
}

#server {
	position: relative;
	float:right;
	top: -41px;
}

/* Footer Stuff */
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
	border-top: 1px solid #000000;
	background-image:url(images/ajbg.gif);
	text-align: center;
	color: #ffffff;
}

a{
	color: #ffffff;
	text-decoration: none;
}

a:hover{
	color: #ffffff;
	text-decoration: underline;
}

.valid {
	float:left;
}

.delicious {
	float:right;
	position:relative;
	margin-top: -18px;
}
/* Contact Form */

#tlas {
	font-size:10;
	text-align:center;
}
